
/******TAG SELECTORS******/


body{
    background-color: #E0EBE8;
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
    background-image: linear-gradient(rgb(47, 96, 109), #2F416D);
}

hr{
    width: 50%;
    padding-top: 5px;
}

h1{
    margin: 0px;
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
}

h2{
    margin: 0px;
    font-family: 'Mansalva', cursive;
    font-size: 50px;

}

h3{
    margin: 0px;
    font-family: 'Mansalva', cursive;
    font-size: 25px;

}

p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif    ;
}

header{
    position: relative;
    padding-top: 100px;    
}

li{
   float: left;
   border-right: 1px solid #bbb;
   color: white;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}

li a:last-child{
    border-right: none;
}


iframe{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20%;
}

footer{
    background-color: #333;
    height: 25px;
}

/******TAG CLASS*********/
.underline{
    text-decoration: underline;
    
}

.avatar{
    border-radius: 100%;
}

.navbar{
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed;
}

.gallery{
    margin: 5px;
  border: none;
  width: 100px;
  display: inline-block;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

.btn:link, .btn:visited {
    background-color: #333;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background-color: #111;
}



